In [3]:
import pandas as pd 
from sqlalchemy import create_engine

##  Extract CSV into DataFrames

In [4]:
# Real Plus Minus
rpm_file = "Resources/nba_2017_real_plus_minus.csv"
rpm_df = pd.read_csv(rpm_file)
rpm_df.head(10)

                    NAME  TEAM  GP   MPG  ORPM  DRPM   RPM   WINS
0       LeBron James, SF   CLE  74  37.8  6.49  1.93  8.42  20.43
1      Stephen Curry, PG    GS  79  33.4  7.27  0.14  7.41  18.80
2       Jimmy Butler, SG   CHI  76  37.0  4.82  1.80  6.62  17.35
3  Russell Westbrook, PG   OKC  81  34.6  6.74 -0.47  6.27  17.34
4     Draymond Green, PF    GS  76  32.5  1.55  5.59  7.14  16.84
5         Rudy Gobert, C  UTAH  81  33.9  0.35  6.02  6.37  15.55
6       James Harden, SG   HOU  81  36.4  6.38 -1.57  4.81  15.54
7      Kawhi Leonard, SF    SA  74  33.4  5.83  1.25  7.08  15.53
8         Chris Paul, PG   LAC  61  31.5  5.16  2.76  7.92  13.48
9        Nikola Jokic, C   DEN  73  27.9  4.44  2.29  6.73  13.18

In [5]:
# Player Impact Estimate 
pie_file = "Resources/nba_2017_pie.csv"
pie_df = pd.read_csv(pie_file)
pie_df.head(10)

,PLAYER,TEAM,AGE,GP,W,L,MIN,OFFRTG,DEFRTG,NETRTG,...,AST RATIO,OREB%,DREB%,REB%,TO RATIO,EFG%,TS%,USG%,PACE,PIE
0,Russell Westbrook,OKC,28,81,46,35,34.6,107.9,104.6,3.3,...,23.4,5.3,27.9,16.7,12.2,47.6,55.4,40.8,102.31,23.0
1,Boban Marjanovic,DET,28,35,16,19,8.4,104.3,102.4,1.9,...,5.1,16.6,31.3,23.9,5.7,54.5,60.6,24.8,97.20,19.6
2,Demetrius Jackson,BOS,22,5,1,4,3.4,124.2,117.8,6.3,...,31.1,9.1,11.8,10.3,0.0,87.5,75.3,17.2,87.46,19.4
3,Anthony Davis,NOP,24,75,31,44,36.1,104.2,102.5,1.7,...,7.3,6.7,26.9,17.0,8.4,51.8,58.0,32.6,100.19,19.2
4,James Harden,HOU,27,81,54,27,36.4,113.6,107.3,6.3,...,27.6,3.5,21.2,12.3,14.1,52.5,61.3,34.1,102.98,19.0
5,Kevin Durant,GSW,28,62,51,11,33.4,117.2,101.3,16.0,...,18.4,2.3,23.2,13.7,8.5,59.4,65.1,27.6,103.71,18.6
6,LeBron James,CLE,32,74,51,23,37.8,114.9,107.1,7.7,...,25.6,4.0,20.9,12.7,12.0,59.4,61.9,29.7,98.38,18.3
7,Chris Paul,LAC,32,61,43,18,31.5,116.2,101.3,14.9,...,35.0,2.5,14.9,8.9,9.1,55.5,61.4,24.3,98.19,18.2
8,DeMarcus Cousins,NOP,26,72,30,42,34.2,106.7,109.0,-2.2,...,14.3,7.2,30.5,18.8,11.6,49.8,56.2,36.4,97.11,17.8
9,Giannis Antetokounmpo,MIL,22,80,42,38,35.6,107.4,105.9,1.5,...,19.8,5.8,22.6,14.3,10.7,54.1,59.9,28.3,96.46,17.6

In [6]:
#Twitter Following

In [7]:
# NBA Salary

## Transform Dataframes

In [8]:
# Create filtered data 
rpm_cols = ["NAME", "GP", "ORPM", "DRPM", "RPM", "WINS"]
rpm_transformed = rpm_df[rpm_cols].copy()
name_split = rpm_transformed["NAME"].str.split(",", n = 1, expand = True) 
rpm_transformed["NAME"] = name_split[0]

#Rename Columns
rpm_transformed = rpm_transformed.rename(columns={"NAME": "player_name",
                                                  "GP": "player_games_played",
                                                  "ORPM": "player_off_plus_min",
                                                  "DRPM": "player_def_plus_min",
                                                  "RPM": "player_real_plus_min",
                                                  "WINS": "player_wins" })


rpm_transformed["player_name"] = rpm_transformed["player_name"].str.lower()
rpm_transformed["player_name"] = rpm_transformed["player_name"].str.replace(" ", "")
rpm_transformed.set_index("player_name", inplace=True)

rpm_transformed.head(10)

,player_games_played,player_off_plus_min,player_def_plus_min,player_real_plus_min,player_wins
player_name,,,,,
lebronjames,74,6.49,1.93,8.42,20.43
stephencurry,79,7.27,0.14,7.41,18.80
jimmybutler,76,4.82,1.80,6.62,17.35
russellwestbrook,81,6.74,-0.47,6.27,17.34
draymondgreen,76,1.55,5.59,7.14,16.84
rudygobert,81,0.35,6.02,6.37,15.55
jamesharden,81,6.38,-1.57,4.81,15.54
kawhileonard,74,5.83,1.25,7.08,15.53
chrispaul,61,5.16,2.76,7.92,13.48
nikolajokic,73,4.44,2.29,6.73,13.18

In [9]:
pie_cols = ["PLAYER", "TEAM", "NETRTG", "EFG%", "TS%","USG%", "PIE"]
pie_transformed = pie_df[pie_cols].copy()

pie_transformed = pie_transformed.rename(columns={"PLAYER": "player_name",
                                                  "TEAM": "player_team",
                                                  "NETRTG": "player_net_rating",
                                                  "EFG%": "player_eff_fg_pct",
                                                  "TS%": "player_true_shooting_pct",
                                                  "USG%": "player_usage_rate",
                                                  "PIE":"player_impact_estimate"})


# pie_transformed['player_name'] = pie_transformed['player_name'].astype(str)
pie_transformed["player_name"] = pie_transformed["player_name"].str.lower()

pie_transformed["player_name"] = pie_transformed["player_name"].str.replace(" ", "")
pie_transformed.set_index("player_name", inplace=True)
pie_transformed.head(20)

,player_team,player_net_rating,player_eff_fg_pct,player_true_shooting_pct,player_usage_rate,player_impact_estimate
player_name,,,,,,
russellwestbrook,OKC,3.3,47.6,55.4,40.8,23.0
bobanmarjanovic,DET,1.9,54.5,60.6,24.8,19.6
demetriusjackson,BOS,6.3,87.5,75.3,17.2,19.4
anthonydavis,NOP,1.7,51.8,58.0,32.6,19.2
jamesharden,HOU,6.3,52.5,61.3,34.1,19.0
kevindurant,GSW,16.0,59.4,65.1,27.6,18.6
lebronjames,CLE,7.7,59.4,61.9,29.7,18.3
chrispaul,LAC,14.9,55.5,61.4,24.3,18.2
demarcuscousins,NOP,-2.2,49.8,56.2,36.4,17.8
giannisantetokounmpo,MIL,1.5,54.1,59.9,28.3,17.6
kawhileonard,SAS,8.6,54.1,61.0,31.2,17.4
joelembiid,PHI,3.2,50.8,58.4,36.3,17.4
karl-anthonytowns,MIN,-0.9,57.6,61.8,27.4,17.1
nikolajokic,DEN,5.1,60.5,64.0,23.4,16.7
jimmybutler,CHI,3.0,49.2,58.6,26.5,16.4
hassanwhiteside,MIA,1.3,55.7,57.9,22.6,16.3
rudygobert,UTA,8.1,66.1,68.1,16.7,16.1
isaiahthomas,BOS,5.0,54.6,62.5,33.7,16.1
mikeconley,MEM,3.1,54.5,60.4,26.3,16.0
damianlillard,POR,1.2,51.6,58.6,30.9,15.9

In [10]:
# TYLER's Data for Player Attributes
attributes = pd.read_csv('Resources/all_seasons.csv')
attributes = attributes[['player_name', 'team_abbreviation', 'age', 'player_height', 'player_weight', 'college', 'draft_year', 'season']]
attributes = attributes.loc[attributes['season'] == '2016-17']
attributes.reset_index(inplace=True)
attributes['season'] = attributes['season'].str.split('-')[0][0]
attributes['player_name'] = attributes['player_name'].str.lower()
attributes['player_name'] = attributes['player_name'].str.replace(" ", "")
attributes.drop(columns=['index'], inplace=True)
attributes = attributes.set_index('player_name')
attributes.head()

,team_abbreviation,age,player_height,player_weight,college,draft_year,season
player_name,,,,,,,
yogiferrell,DAL,24,182.88,81.64656,Indiana,Undrafted,2016
zazapachulia,GSW,33,210.82,124.73780,None,2003,2016
zachrandolph,MEM,35,205.74,117.93392,Michigan State,2001,2016
zachlavine,MIN,22,195.58,83.91452,UCLA,2014,2016
tysonchandler,PHX,34,215.90,108.86208,None,2001,2016

In [11]:
#Marcus Data Transform 

salary_file = "Resources/nba_2017_salary.csv"
salary_df = pd.read_csv(salary_file)


twitter_file = "Resources/nba_2017_twitter_players.csv"
twitter_df = pd.read_csv(twitter_file)



salary_df = salary_df.rename(columns={"NAME": "player_name",
                                     "POSITION": "player_position",
                                     "TEAM": "player_team",
                                     "SALARY": "player_salary"})

twitter_df = twitter_df.rename(columns={"PLAYER": "player_name",
                                     "TWITTER_FAVORITE_COUNT": "favorite_count",
                                     "TWITTER_RETWEET_COUNT": "retweet_count"})

salary_df['player_name'] = salary_df['player_name'].str.replace(" ","")
salary_df['player_name'] = salary_df['player_name'].str.replace(".","")
salary_df['player_name'] = salary_df['player_name'].str.replace("-","")
salary_df['player_name'] = salary_df['player_name'].str.lower()



twitter_df['player_name'] = twitter_df['player_name'].str.replace(" ","")
twitter_df['player_name'] = twitter_df['player_name'].str.replace(".","")
twitter_df['player_name'] = twitter_df['player_name'].str.replace("-","")
twitter_df['player_name'] = twitter_df['player_name'].str.lower()

twitter_df.set_index("player_name", inplace=True)
salary_df.set_index("player_name", inplace=True)   

salary_df.head(10)

               player_position             player_team  player_salary
player_name
lebronjames                 SF     Cleveland Cavaliers       30963450
mikeconley                  PG       Memphis Grizzlies       26540100
alhorford                    C          Boston Celtics       26540100
dirknowitzki                PF        Dallas Mavericks       25000000
carmeloanthony              SF         New York Knicks       24559380
damianlillard               PG  Portland Trail Blazers       24328425
chrisbosh                   PF              Miami Heat       23741060
dwyanewade                  SG           Chicago Bulls       23200000
dwighthoward                 C           Atlanta Hawks       23180275
chrispaul                   PG             LA Clippers       22868827

In [12]:
twitter_df.head(10)

                  favorite_count  retweet_count
player_name
russellwestbrook          2130.5          559.0
jamesharden                969.0          321.5
isaiahthomas               467.5          155.5
anthonydavis               368.0          104.0
demarderozan                 0.0          186.0
demarcuscousins            102.0           91.5
damianlillard              186.5           43.0
lebronjames               5533.5         1501.5
kawhileonard              2701.5          716.5
stephencurry             12278.0         2893.0

In [22]:
#Extract CSVs into DataFrames
nba_2017_players_stats_combined_file = "Resources/nba_2017_players_stats_combined.csv"
nba_player_df = pd.read_csv(nba_2017_players_stats_combined_file)
nba_player_df.dropna(inplace=True, how='all')

nba_player_df.to_csv("CSVs/player_stats_transformed.csv")

In [14]:
#Transform premise DataFrame
# Create a filtered dataframe from specific columns
nba_2017_stats_cols = ["PLAYER", "POSITION", "TEAM", "POINTS", "TRB", "AST", "STL", "BLK", "FG%", "3P%", "FT%"]
nba_2017_stats_transformed = nba_player_df[nba_2017_stats_cols].copy()

# Rename the column headers
nba_2017_stats_transformed = nba_2017_stats_transformed.rename(columns={"PLAYER": "player_name",\
                                                                        "POSITION": "player_position",
                                                                        "TEAM": "player_team_abbreviation",
                                                                        "POINTS": "player_pts",
                                                                        "TRB": "player_trb",
                                                                        "AST": "player_ast",
                                                                        "STL": "player_stl",
                                                                        "BLK": "player_blk",
                                                                        "FG%": "player_fg_pct",
                                                                        "3P%":"player_threept_pct",
                                                                        "FT%":"player_ft_pct"})


nba_2017_stats_transformed["player_name"] = nba_2017_stats_transformed["player_name"].str.lower()
nba_2017_stats_transformed["player_name"] = nba_2017_stats_transformed["player_name"].str.replace(" ", "")
# Clean the data by dropping duplicates and setting the index
nba_2017_stats_transformed.drop_duplicates("player_name", inplace=True)
nba_2017_stats_transformed.set_index("player_name", inplace=True)

nba_2017_stats_transformed.head()

,player_position,player_team_abbreviation,player_pts,player_trb,player_ast,player_stl,player_blk,player_fg_pct,player_threept_pct,player_ft_pct
player_name,,,,,,,,,,
russellwestbrook,PG,OKC,31.6,10.7,10.4,1.6,0.4,0.425,0.343,0.845
jamesharden,PG,HOU,29.1,8.1,11.2,1.5,0.5,0.440,0.347,0.847
isaiahthomas,PG,BOS,28.9,2.7,5.9,0.9,0.2,0.463,0.379,0.909
anthonydavis,C,NO,28.0,11.8,2.1,1.3,2.2,0.505,0.299,0.802
demarderozan,SG,TOR,27.3,5.2,3.9,1.1,0.2,0.467,0.266,0.842